.header-wrapper {
  background-color: #ff6536;
}

.logo {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

span {
  cursor: pointer;
}

.active-header-link {
  color: #ff6536;
  background-color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 20px;
}

.inactive-header-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 20px;
}

.inactive-header-link:hover {
  color: #ff6536;
  background-color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
}

.cart-qty-wrapper {
  cursor: pointer;
}

.cart-qty {
  color: #ff6536 !important;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 895px) {
  .user-options-wrapper {
    display: none;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
}
